.Header {
  min-height: 30px;
  max-height: 100px;
  background: rgb(0, 0, 0);
}

div.head-div-img > img {
  margin-left: 30%;
  width: 60px;
}

div.head-div-h1 > h1 {
  color: white;
}

div.head-div-nav > nav > button {
  margin-right: 15%;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
