.Card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (min-width: 565px) and (max-width: 959px) {
    .Card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 961px) {
    .Card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
