.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
  max-height: 30px;
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  > p {
    display: flex;
    color: white;
    justify-content: right;
  }
}
